<!DOCTYPE html>
<html>
<head>
	<title>main page</title>
	<style type="text/css">
		a{
			text-decoration: none;
			padding: 15px;
			color: black;
			display: inline-block;
		}
		a:hover{
			background-color: black;
			color:white;
		}

	</style>
</head>
<body bgcolor="gray">
	
 <h1 style="text-align: center;">The Gift Shop Management Application</h1>
 <nav>
 	<a href="{{url_for('soindex')}}">Home</a>
    <a href="{{url_for('sochangepwd')}}">Change Password</a>
    <a href="{{url_for('sorequeststock')}}">Request Stock</a>
    <a href="{{url_for('soviewstocks')}}">View Stock</a>
    <a href="">View Orders</a>
    <a href="{{url_for('logout')}}">Logout</a>
 </nav>
 
</html>